:root {
    --main-radius: 5px;
    --main-padding: 5px;
    --susun-text: center;
  }
  
  body {
    font-family: "Inter", sans-serif;
  }
  
  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas:
      "nav nav nav nav"
      "sidebar main main main"
      "sidebar content1 content2 content3"
      "sidebar footer footer footer";
    grid-gap: 0.2rem;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    color: #004d40;
    text-align: center;
  }
  
  nav {
    background: #c0ffa7;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    text-align: var(--susun-text);
  }

  ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "li li";
    grid-gap: 0.2rem;
  }
  
  main {
    background: #84ffff;
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    text-align: var(--susun-text);
  }
  
  #sidebar {
    background: #a06ff0;
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    text-align: var(--susun-text);
  }
  
  #content1 {
    background: #ff6f82;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    text-align: var(--susun-text);
  }
  
  #content2 {
    background: #64ffda;
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    text-align: var(--susun-text);
  }
  
  #content3 {
    background: #73ffba;
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    text-align: var(--susun-text);
  }
  
  .grid-footer {
    background: #1de9b6;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    text-align: var(--susun-text);
  }
  
  a {
    text-align: center;
    display: block;
    font-family: inherit;
    text-decoration: none;
    font-weight: bold;
    margin: 1rem;
  }
  
  @media only screen and (max-width: 550px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
      grid-template-areas:
        "nav"
        "sidebar"
        "main"
        "content1"
        "content2"
        "content3"
        "footer";
        overflow: hidden;
    }

    .flex-box{
      display: flex;
      flex-direction: column;
    }

    .flex-section5{
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
  

  /* flex css */
/* html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color:black;
} */

.flex-container{
    /* display: flex; */
    max-width: 1100px;
    margin: auto;
}

.flex-box{
    display: flex;
    justify-content: space-between;
    gap: 13px;    /* put the gap in the parent div */
}

.flex-box>.flex-inside-box{
  padding: 1em;
  border-radius: 18px;
  /* margin: 12px; */
}

.flex-card{
    display: flex;
    flex-direction: row;
    padding: 12px;
}

.flex-card img{
  width: 40px;
  height: 40px;
}

#flex-section4{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 12px;
}

.flex-section4{
  padding: 1em;
  border-radius: 12px;
}

.flex-button{
  background: rgb(255, 255, 255);
  border-radius: 12px;
  border: none;
  padding: 1em;
  font-weight: bold;
}

.flex-background-image img{
  display: block; 
  width: 100%; 
  height: 100%;
  border-radius: inherit; 
  object-position: left center; 
  object-fit: contain;
}

.flex-section5{
  background-color: #004d40;
  display: flex;
  padding: 1em;
  color:#fff;
}

.flex-section7{
  display: flex;
}

.flex-footer{
  background-color: #a06ff0;
}

.flex-footer-icons{
  display: flex;
}
